{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="form">
        <br> <h2>Ajouter une catégorie</h2><br>
        {{ form_start(form)}}
        {{ form_row(form.name, {'attr':{'class': 'form form-control'}})}}
        <br>
        <input type="submit" value="sauvegarder" class="btn btn-primary">
        {{ form_end(form)}}
    </div>
</div>

{% endblock %}