<form method="post" action="{{ path('app_sub_category_delete', {'id': sub_category.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette sous catégorie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_category.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
