{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier la sous catégorie</h1>

    {{ include('sub_category/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>

    <a class="btn btn-outline-primary" href="{{ path('app_sub_category_index') }}">Revenir à la liste</a>
    <br>
    {{ include('sub_category/_delete_form.html.twig') }}
</div>
{% endblock %}
