{% extends 'base.html.twig' %}

{% block title %}New SubCategory{% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1>Ajouter une sous catégorie</h1><br><br>

    {{ include('sub_category/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('app_sub_category_index') }}">Revenir a la liste </a>
</div>
{% endblock %}
