<footer>
    <div class="footer">
    <h4>Don't compromise on your look!</h4>
    <p>Stubborn met en avant le style avec des sweets tendance et de couleur naturel.<br>
        Basé à Piccadilly Circus à Londres, nous mettons en avant le côté comfort et le côté style tout en respectant une production équitable et qui préserve l'environnement. </p>
    </div>
</footer>